@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'mukta';
    margin: 0;
    
}
body{
    background-color: #000000;
}
header{
    background-color: rgb(0, 0, 0);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(255, 0, 0);
    border-bottom: solid 1px #fff;;
}

#title{
    color: white;
}
#title2{
    color: white;
    margin-top: 50px;
}

.container-carrosel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerFileira{
    padding: 10px;
}
.carrosel{
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    height: 93vh;
    width: 70%;
    margin-bottom: 15px;
}
.carrosel img{
    height: 90vh;
    width: 100%;
}
.titulo{
    color: white;
}
.containerFileira{
    margin-bottom: 60px;
}
#fileira{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
#fileira img{
    height: 30vh;   
    width: 30%;
    border-radius: 3px;
}

/**/

.comentarios-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.comentario{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 125px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #fff;
}
#titulo-comentario{
    font-size: 25px;
}
.plano-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plano{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #fff;
}